.container {
  justify-content: flex-end;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: none;
  font-weight: 600;
  & a {
    color: whitesmoke !important;
  }
}

.logo {
  float: left;
  height: 100%;
  color: whitesmoke
}