@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;800&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

a {
  color: whitesmoke;
  font-weight: 600;
}

.ant-typography{
  color: whitesmoke;
}

.ant-layout {
background: #0D0D2B;
min-height: 100vh;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.ant-menu-item-active, .ant-menu-item-selected{
  color: #3671E9 !important;
  &::after{
    border-bottom: 2px solid whitesmoke !important;
  }
}